Repository HYF-Class23/group1-hyf-rebuild, pull requests merged in 2024-02, with the labels that each got.

#6 addbacklog
  package-lock.json
  planning/backlog.md
Labels: planning, backlog

#3 add-a-constraints
  planning/constraints.md
Labels: planning, constraints

#8 add-communication
  planning/communication.md
Labels: planning, communication

#7 add-design
  .cspell.json
  planning/design.md
  planning/img/Untitled-2024-02-04-1511.png
Labels: planning

#14 update-backlog
  planning/backlog.md
Labels: planning, backlog

#15 userPersona fix and photos
  planning/img/sponsor.jpg
  planning/img/student.jpg
  planning/img/teacher.jpg
  planning/user-personas.md
Labels: planning, md

#17 partners-and-testemony-css
  .cspell.json
  .vscode/settings.json
  img/Atlas Copco.png
  img/Aviv Dror.png
  img/Optis.png
  img/ae adapt and enabl.png
  img/agoria.jpg
  img/alexander-abraham.jpg
  img/apptweak.png
  img/arteveld.png
  img/axxes.png
  img/bruxellesformation.png
  img/capgemini.png
  img/datacamp.png
  img/delenbank.png
  img/duoforjob.png
  img/edouardo.jpg
  img/epitech.png
  img/gita.jpg
  img/kps.png
  img/microsoft.jpg
  img/ramzi.jpg
  img/stars.png
  img/sweepatic.png
  img/ttlbe.jpeg
  img/uxantwerp.jpg
  img/vbofeb.png
  img/zeynep-hanim.jpg
  index.html
  planning/development-strategy.md
  styles/index.css
Labels: css

#12 add-development-stategy
  planning/development-strategy.md
Labels: planning

#27 add-header
  index.html
  planning/img/hyf logo.png
  styles/index.css
Labels: developement

#29 README.md
  .cspell.json
  README.md
  index.html
  planning/img/screen1.png
  planning/members/img/birthplace.png
  planning/members/img/family.jpg
  planning/members/img/hobby.png
  planning/members/img/hyf.png
  planning/members/img/journey.png
  planning/members/img/tarun.png
  planning/members/img/yurii.jpg
  planning/members/kevin.md
  planning/members/polyanna.md
  planning/members/tarunpurswani.md
  planning/members/yurii.md
Labels: md

#32 add-stats-desc
  img/wwa1.webp
  img/wwa2.webp
  img/wwa3.webp
  index.html
  styles/index.css
Labels: css, html

#34 little fix development-strategy
  .cspell.json
  planning/development-strategy.md
Labels: md

#35 addfooter
  .cspell.json
  img/logodogithub.png
  img/logodoyoutube.jpg
  img/logoinsta.jpg
  img/logolinkedin.png
  index.html
  styles/index.css
Labels: css, html, footer

#19 Partners testemony html
  .cspell.json
  index.html
  styles/something.css
Labels: html

#37 add retrospective
  .cspell.json
  planning/retrospective.md
Labels: planning
